main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}


img{
  height: 10rem;
  width: auto;
  border-radius: 10%;
  box-shadow: 10px 8px 5px black ;
}

main p{
  background-color: gainsboro;
  color: orangered;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
  box-shadow: 10px 8px 5px black ;

}

footer{
  border: thin solid black;
  color: orangered;
}

h1{
  color: orangered;
}

li{
  list-style-type: none;
}
